{% extends 'base.html' %}

{% block main %}
    <table border="1|0">
    <tr>
            <td>deptno</td>>
            <td>dname</td>>
            <td>loc</td>>

        </tr>
    {% for row in dept_list %}
        <tr>
            <td>{{ row.deptno }}</td>>
            <td>{{ row.dname }}</td>>
            <td>{{ row.loc }}</td>
        </tr>
    {% endfor %}
    </table>
    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
    </div>
{% endblock %}